.btn {
   border: none;
   cursor: pointer;
   font-family: var(--fontFamily);
   font-size: 0.9375rem;
   font-weight: var(--font400);
   position: relative;
   transition: background-color 0.3s, border 0.3s ease-in;

   &--menu {
      $root: &;

      display: flex;
      align-items: center;
      background-color: transparent;
      flex-direction: column;
      justify-content: center;
      padding: 0;
      transition: all 0.3s ease-in-out;
      z-index: 10;

      @media screen and (min-width: 48em) {
         display: none;
      }

      &__bar {
         background-color: var(--white);
         display: block;
         height: 0.15rem;
         transition-duration: 0.2s;
         transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
         width: 1.125rem;

         &:not(:last-of-type) {
            margin-bottom: 0.225rem;
         }
      }

      &.is-active {
         #{$root}__bar {
            background-color: var(--white);
         }

         #{$root}__bar:first-child {
            transform: rotate(45deg) translate(0.125rem, 0.125rem);
            transition-delay: 0.15s;
         }

         #{$root}__bar:nth-child(2) {
            opacity: 0;
         }

         #{$root}__bar:nth-child(3) {
            transform: rotate(-45deg) translate(0.375rem, -0.4375rem);
            transition-delay: 0.15s;
         }
      }
   }

   &--heading,
   &--more {
      background-color: transparent;
      color: var(--white);
      border: 2px solid var(--red);
      display: flex;
      justify-content: center;
      align-items: center;
      width: 180px;
      height: 42px;
      font-weight: var(--font700);

      &:hover {
         background-color: var(--white);
         color: var(--red);
      }
   }

   &--red {
      background-color: var(--red);
      color: var(--white);
      display: flex;
      justify-content: center;
      align-items: center;
      height: 42px;
      width: 180px;
      border: 2px solid var(--red);

      &:hover {
         background-color: transparent;
      }
   }

   &--pricing {
      background-color: var(--black);
      color: var(--white);
      padding: 12px 24px;
      margin-top: 20px;
      border: 2px solid var(--black);
      border-radius: 4px;

      &:hover {
         background-color: var(--white);
         color: var(--black);
      }
   }
}
