html {
  font-size: 100%;
  box-sizing: border-box;
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

body {
  font-family: var(--fontFamily);
  line-height: 1.4;
  background-color: #151515;

  @media screen and (max-width: 768px) {
    &.no-scroll {
      overflow: hidden;
    }
  }
}

a {
  color: inherit;
  text-decoration: none;

  &:focus {
    outline: none;
  }

  &:focus-visible {
    outline: 2px dashed var(--red);
    outline-offset: 3px;
  }
}

img {
  max-width: 100%;
  height: auto;
}

ul,
ol {
  list-style: none;
}
